@font-face {
  font-family: cormorant-700;
  src: local("Cormorant-Bolt"), local("Cormorant"), 
  url("fonts/cormorant-700.woff2") format("woff2"),
  url("fonts/cormorant-700.woff") format("woff");
	font-display: swap;
}


