:root {
  --main-color: #ffffff;
  --second-color: #262626;
  --one-color: #006F55;
  --two-color: #00654E;
  --three-color: #005844;
  --main-bg-color: #005844;
  --second-bg-color: #c0b487;
  --trigger-bg-color: #e6ab39;

  --url-features-one: url("img/img-3.svg");
  --url-features-two: url("img/img-4.svg");
  --url-features-three: url("img/img-5.svg");
  --url-features-four: url("img/img-6.svg");
}
